.card__container{
    position: relative;
    background-color: white;
    width: 350px;
    height: 550px;
    border-radius: 15px;
}

.card__container img {
    top: -20%;
    width: 250px;
    position: absolute;
    margin-left: 50px;
    display: flex;
    border: 2px solid red;
}