.card__container{
    position: relative;
    background-color: white;
    width: 350px;
    height: 550px;
    border-radius: 15px;
}

.card__container img {
    top: -17%;
    width: 200px;
    position: absolute;
    margin-left: 75px;
    display: flex;
}