*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100vh;
  background: linear-gradient(180deg, var(--bg-gradient-violet) 0%, var(--bg-gradient-blue) 100%);
  background-repeat: no-repeat;
}
.app__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}