*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100vh;
  background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
  background-repeat: no-repeat;
}